<?xml version="1.0"?>
<!--
/**
 * Hyvä Themes - https://hyva.io
 * Copyright © Hyvä Themes 2021-present. All rights reserved.
 * This product is licensed per Magento install
 * See https://hyva.io/license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-tweakwise" xsi:type="array">
                    <item name="original_module" xsi:type="string">Tweakwise_Magento2Tweakwise</item>
                    <item name="compat_module" xsi:type="string">Tweakwise_TweakwiseHyva</item>
                </item>
                <item name="hyva-emico_attributeLanding" xsi:type="array">
                    <item name="original_module" xsi:type="string">Emico_AttributeLanding</item>
                    <item name="compat_module" xsi:type="string">Tweakwise_TweakwiseHyva</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Hyva\Theme\ViewModel\ProductList">
        <plugin name="tweakwise-hyva" type="Tweakwise\TweakwiseHyva\ViewModel\ProductList\Plugin" sortOrder="0" />
    </type>
    <preference for="Hyva\Theme\ViewModel\SwatchRenderer" type="Tweakwise\TweakwiseHyva\ViewModel\SwatchRenderer" />
    <type name="Hyva\Theme\ViewModel\ProductListItem">
        <plugin name="Tweakwise_TweakwiseHyva_Plugin_ViewModel_ProductListItem"
                type="Tweakwise\TweakwiseHyva\Plugin\ViewModel\ProductListItem"/>
    </type>
</config>
